# Created by https://www.toptal.com/developers/gitignore/api/vuejs
# Edit at https://www.toptal.com/developers/gitignore?templates=vuejs

### Vuejs ###
# Recommended template: Node.gitignore

node_modules/
dist/
npm-debug.log
yarn-error.log

.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

**/application-datasource.properties
**/application-multipart.properties
# End of https://www.toptal.com/developers/gitignore/api/vuejs
